// colors

$color-primary: #d45749;
$color-white: #fff;
$color-offwhite: rgb(238, 238, 238);
$color-transparent: rgba(255, 255, 255, 65%);
$color-dark: rgb(66, 66, 66);
$color-btn: #d0d2d7;
$color-grey: #444;
$color-blue: #519bd7;
$color-black: rgb(5, 5, 5);