.address {
  @include footer-reuse($color-white, 44rem);

  margin: 10rem 0 2rem 0;
  box-shadow: -0.2rem -0.2rem 2rem rgba(0, 0, 0, 0.3);
  padding-top: 2rem;

  &__title {
    @include reuse(2.4rem, $color-primary, 600);

    margin-bottom: 2rem;
  }

  &__col {
    &-list {
      border: 1px solid $color-btn;
      border-radius: 0.3rem;
      text-align: center;
      padding: 1rem 0;

      &--p {
        margin-bottom: 0;

        @include reuse(1.5rem, $color-dark, 600);
      }
    }
  }

  &__btn {
    padding: 0.8rem 1rem;
    background-color: $color-blue;

    @include reuse(1.5rem, $color-white, 600);

    border: none;
    border-radius: 0.3rem;
    margin-top: 2rem;
  }

  &__footer {
    margin-top: 2rem;
  }

  &__footer > * {
    @include reuse(1.4rem, $color-dark, 600);
  }
}

.address-text {
  @include reuse(1.5rem, $color-dark, 500);
}

.address-link {
  @include footer-reuse($color-grey-light, 7rem);

  padding-left: 2rem;

  &__a {
    @include reuse(2rem, $color-dark, 500);

    text-decoration: none;
    word-spacing: 1px;
  }

  &__a:hover {
    color: $color-grey-dark;
  }
}

@media (max-width: 768px) {
  .address__footer {
    display: none;
    visibility: hidden;
  }

  .address {
    padding: 2rem;
  }

  .address-text,
  .address-link {
    padding: 0 1rem;
  }
}

@media (max-width: 576px) {
  .address {
    @include footer-reuse($color-white, 60rem);
  }
}
