.about-container {
  &__one {
    @include footer-reuse($color-primary-light, 35rem);
  }

  &__two {
    @include footer-reuse($color-secondary, 35rem);
  }

  &__three {
    @include footer-reuse($color-blue, 35rem);
  }

  &__img {
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    transform: rotate(90deg);

    &-2 {
      transform: rotate(0deg);
    }
  }

  &__title {
    @include reuse(2.2rem, $color-white, 700);

    word-spacing: 0.2rem;
    margin-bottom: 2rem;
  }

  &__txt {
    @include reuse(1.4rem, $color-white, 600);

    margin-bottom: 4rem;
    width: 70%;
  }

  &__btn {
    padding: 0.8rem 1rem;

    @include reuse(1.4rem, $color-primary-light, 600);

    border: none;
    background-color: $color-white;
    border-radius: 0.3rem;

    &-2 {
      color: $color-secondary;
    }
  }
}
