*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: #d45749;
  height: 6rem;
  width: 100%;
}
.header__logo-img {
  width: 85%;
}
.header__ul {
  margin-bottom: 0;
}
.header__ul-li, .header__ul-icon, .header__ul-a {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 600;
}
.header__ul-icon:hover, .header__ul-a:hover {
  color: #eeeeee;
}

@media (max-width: 1024px) {
  .header__logo {
    margin-left: 2rem;
  }
  .header__ul {
    margin: 0 9rem 2rem 0;
  }
  .header__ul-icon {
    padding: 0 3rem;
    cursor: pointer;
  }
  .header__ul-a, .header__ul-dot {
    display: none;
  }
}
@media (max-width: 768px) {
  .header {
    height: 10rem;
  }
  .header__logo {
    margin: 0.8rem 0 0 0;
  }
  .header__logo-img {
    width: 13rem;
    height: auto;
  }
  .header__ul {
    margin: 0 0 1rem 0;
  }
  .header__ul-icon {
    padding: 0 1rem;
  }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.footer {
  position: relative;
  background-color: #050505;
  height: 20rem;
}
.footer__nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.footer__ul {
  margin-bottom: 0;
}
.footer__ul-li {
  padding: 2rem 2.2rem;
}
.footer__ul-li:hover {
  background-color: #444;
  cursor: pointer;
}
.footer__ul-a, .footer__ul-a:hover {
  font-size: 1.7rem;
  color: #fff;
  font-weight: 600;
}
.footer__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #050505;
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  border: 1px solid #fff;
}
.footer__circle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  color: #fff;
  font-weight: 500;
}
.footer__circle:hover {
  cursor: pointer;
  background-color: #444;
  height: 14rem;
}

.footer__secondary {
  background-color: #050505;
  height: 15rem;
}
.footer__secondary-container {
  text-align: center;
}
.footer__secondary-container--heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
}
.footer__secondary-container--text {
  font-size: 1.4rem;
  color: #444;
  font-weight: 500;
}
.footer__secondary-container--link, .footer__secondary-container--link:hover {
  text-decoration: none;
  color: #d45749;
}
.footer__secondary-input {
  background-color: #050505;
  color: #444;
  border: 2px solid #444;
  padding: 0.7rem;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}
.footer__secondary-btn {
  background-color: #444;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  padding: 0.7rem 1rem;
  border: 2px solid #444;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.footer-bottom {
  background-color: #424242;
  height: 4rem;
}
.footer-bottom__icon {
  font-size: 2rem;
  color: #d0d2d7;
  font-weight: 500;
  margin-right: 1rem;
}
.footer-bottom__text {
  font-size: 1.3rem;
  color: #d0d2d7;
  font-weight: 500;
}

.card {
  border: none;
  text-align: center;
  margin: 5rem 0;
}
.card__container {
  padding: 0 18rem;
}
.card__title {
  font-size: 1.8rem;
  color: #d45749;
  font-weight: 600;
}
.card__icon {
  font-size: 3rem;
  color: #424242;
  margin: 2.5rem 0;
}
.card__heading {
  font-size: 1.7rem;
  color: #424242;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
.card__text {
  font-size: 1.2rem;
  color: #424242;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .card__container {
    padding: 0 10rem;
  }
}
@media (max-width: 768px) {
  .card__container {
    padding: 0 4rem;
  }
}
.home {
  position: relative;
  height: 60vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../images/school.jpg");
  background-size: cover;
  background-position: center;
}
.home__overlay-title {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.2rem;
}
.home__overlay-group {
  margin: 12rem;
}
.home__overlay-box {
  width: 100%;
  height: 13rem;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 0.8rem;
  padding: 3.8rem 0 0 2rem;
}
.home__overlay-form--label {
  font-size: 1.4rem;
  color: #424242;
  font-weight: 600;
}
.home__overlay-form--input {
  width: 75%;
  border: none;
  border-radius: none;
  padding: 1.2rem;
}
.home__overlay-form--btn {
  width: 10rem;
  padding: 1rem;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  background-color: #d45749;
}
.home__btnContainer-btn {
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  color: #424242;
  font-weight: 500;
  background-color: #d0d2d7;
  margin-top: 1.8rem;
}

@media (max-width: 1024px) {
  .home__overlay-title {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0rem;
  }
  .home__overlay-group {
    margin: 12rem 6rem;
  }
  .home__overlay-box {
    padding: 3.8rem 0 0 2rem;
  }
  .home__overlay-form--btn {
    background-color: #519bd7;
  }
}
@media (max-width: 768px) {
  .home__overlay-title {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 600;
  }
  .home__overlay-group {
    margin: 9rem 3rem;
  }
  .home__overlay-box {
    padding: 0.8rem 0 0 1.5rem;
  }
  .home__overlay-box {
    padding: 0.8rem 0 0 1.5rem;
  }
  .home__overlay-form--label {
    font-size: 1rem;
    color: #424242;
    font-weight: 600;
  }
  .home__overlay-form--input {
    width: 95%;
  }
  .home__overlay-form--btn {
    width: 95%;
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
